.container {
    @apply flex
    flex-col
    transition
    duration-100
    border
    cursor-pointer;
}
.container:hover {
    @apply bg-slate-200;
}
.header-container {
    @apply flex
    justify-between
    px-4
    py-1;
}
.body-container {
    @apply overflow-hidden
    transition-all
    duration-200
    space-x-3
    px-3;
}

.expanded {
    @apply h-10;
}
.collapsed {
    @apply h-0;
}

.network-id-container {
    @apply flex
    items-center
    space-x-1;
}
.ssid {

}
.security-icon {
    width: 15px;
    height: 15px;
}
.password-field {
    @apply shadow
    appearance-none
    border
    rounded
    w-96
    py-1
    px-3
    text-gray-700
    leading-tight;
}
.password-field:focus {
    @apply outline-none;
}
.connect-btn {
    @apply bg-sky-500
    text-white
    px-4
    py-1
    active:bg-sky-700
    focus:bg-sky-600;
}
.wifi-icon {
    @apply mt-2
    mr-1;
}