.container {
    @apply flex
    flex-col
    justify-center
    items-center
    h-full
    w-full;
}
.title {

}
.ssid {
    @apply text-5xl
    mt-3
    mb-8;
}
.disconnect-btn {
    @apply bg-red-400
    text-white
    px-4
    py-1
    active:bg-red-600
    focus:bg-red-500;
}
.wifi-icon-container {
    @apply flex
    justify-center
    items-center
    border
    border-black
    m-5
    rounded-full;

    width: 150px;
    height: 150px;
}
.wifi-icon {

}