.container {
    @apply flex
    flex-col
    justify-center
    items-center
    h-full
    w-full;
}

.list-container {
    @apply border
    border-black
    rounded
    py-1
    px-1
    overflow-auto;
    max-height: 40vh;
}

.title {
    @apply text-3xl
    mb-5;
}