.container {
    @apply flex
    flex-col
    h-screen
    w-screen;
}
.container > *:first-child {
    @apply w-full
    h-full
    grow;
}
.keyboard-container {
    @apply transition-all
    duration-200
    overflow-hidden
    flex;
}
.keyboard-collapsed {
    height: 0;
}
.keyboard-expanded {
    height: 305px;
}